@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css');
body{
    background-color: #efefef;
}

table{
    width: 70% !important;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: Oxygen;
}

a{
    text-decoration: none;
}

h1, h2{
    color: #1f1f1f;
    font-family: "Oxygen";
}

.title-subpage{
    text-align: center;
    padding: 1%;
}

.w3-button:hover{
    background-color: whitesmoke !important;
    transition: 0.4s ;
}

.w3-button{
    transition: 0.4s;
}

input[type=number] {
    width: 25%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.title{
    text-align: center;
    padding-bottom: 4vh;
}

/* ············· NAV ··············· */
.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1.5vh;
}

.menu * {
    font-size: 2.5vh;
}

.menu {
    background-color: white;
    margin-bottom: 4vh;
}

/* ········ CONTAINER ··········· */

.content{
    padding: 3vh 10vh;
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
}

.container{
    display: flex;
    justify-content: space-around;
}

.cookies{
    display: flex;
    justify-content: space-around;
    width: auto;
}

/* ····· BUTTONS ······· */

.action-buttons.container {
    padding: 6vh 35%;
}

.action-buttons button{
    border-radius: 4px;
    padding: 1.5vh 2.75vh;
    border: none;
    margin: 0vh 1vh;
}

.buttons-bet button {
    transition: 0.4s;
     border-radius: 4px;
     padding: 0.5vh 1.75vh;
     border: none;
     margin: 0vh 1vh;
 }

.buttons-bet button:hover {
    background-color: #1f1f1f;
    color: white;
    transition: 0.4s;
}

.buttons-bet {
    display: flex;
    justify-content: space-around;
    padding: 2vh 10vh;
}

/* ········ BOX APOSTA ········· */

.box-aposta{
    font-family: "Oxygen";
    color: #dfe5e9;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vh;
    background-color: #29333f;
    border-radius: 3px;
}

.box-aposta h3 {
    font-family: "Inconsolata";
    color: #fffe7f;
    margin: 1vh 0vh;
}

.box-aposta img{
    width: 6vh;
}

/* ······· LOGOS TEAMS ········ */

.teams-logos{
    width: 40%;
    margin: auto;
    padding: 1vh;
}

.logo-team1{
    float: left;
}

.logo-team2{
    float: right;
}